/* Importing Google Font: Roboto Mono */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

/* margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

/* Fullscreen particles background */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; 
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    background: #000;
}

/* Main Section Styling */
.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; 
}

/* Styling for Image Container */
.main .image-container {
    padding: 10px;
}

.main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .image-container .image img {
    width: 350px; /* Image Width */
    align-items: center;
}

.main .image-container h1 {
    color: #00bcd4; /* Title Color */
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.main .image-container p {
    color: #aed0d0; /* Paragraph Color */
    text-align: center;
    margin-bottom: 40px;
}

/* Input Section with Microphone */
.main .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    background: rgba(202, 253, 255, 0.5); /* Transparent background */
}

.main .input .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.main .input .talk i {
    font-size: 20px;
    color: #aed0d0;
}

.main .input .content {
    color: #aed0d0;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
    .main .input {
        width: 80vw;
        height: 60px;
    }

    .main .input .talk {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }

    .main .input .content {
        font-size: 18px;
        margin-right: 15px;
    }

    .main .image-container .image img {
        width: 250px;
    }

    .main .image-container h1 {
        font-size: 30px;
    }

    .main .image-container p {
        font-size: 16px;
    }
}
